* {
  margin: 0;
  padding: 0; }

body {
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.header__nav__lista {
  list-style: none; }

.header__lista__item {
  color: white; }
  .header__lista__item a {
    text-decoration: dotted; }
    .header__lista__item a:hover {
      color: blue; }

body {
  background-color: 0; }
