
$pantalla-completa: 100%;
$pantalla-media: 50%;

$margin-auto: 0 auto;

$colores: (
    "$color-principal": rgba(0,0,0,0),
    "$color-secundario": rgb(163, 241, 18),
    "color-terciario": black

);